* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background-color: #303030;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}
